html * {
	-webkit-font-smoothing: antialiased
}

.container h1 {
	font-size: 3.3125rem;
	line-height: 1.15em
}

.container h4 {
	font-size: 1.125rem;
	line-height: 1.5em;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-weight: 300
}

.container h5 {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 1.0625rem;
	line-height: 1.55em;
	margin-bottom: 15px
}

.title {
	margin-top: 30px;
	margin-bottom: 25px;
	min-height: 32px;
	color: #3c4858;
	text-decoration: none;
	font-weight: 700;
	font-family: "Roboto Slab", "Times New Roman", serif
}

.container a {
	color: #9c27b0
}

.description {
	color: #999
}

small {
	font-size: 75%;
	color: #777
}

p {
	font-size: 14px;
	font-weight: 300;
	margin: 0 0 10px
}

.page-header {
	height: 100vh;
	background-size: cover;
	margin: 0;
	padding: 0;
	border: 0;
	display: flex;
	align-items: center
}

.header-filter:after,
.header-filter:before {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	display: block;
	left: 0;
	top: 0;
	content: ""
}

.header-filter::before {
	background: rgba(0, 0, 0, .5)
}

.header-filter .container {
	z-index: 2;
	position: relative
}

.page-header .title {
	color: #fff
}

.page-header h4 {
	color: #fff
}

.main-raised {
	margin: -30px 10px 0;
	border-radius: 6px;
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}

.main {
	background: #fff;
	position: relative;
	z-index: 3
}

.section {
	padding: 10px 0
}

.info {
	max-width: 360px;
	margin: 0 auto;
	padding: 10px 0 10px
}

.icon.icon-info {
	color: #00bcd4
}

.icon.icon-success {
	color: #4caf50
}

.icon.icon-danger {
	color: #cfd146
}

.info .icon>i {
	font-size: 3.85rem
}

.info .info-title {
	font-weight: 700;
	font-family: "Roboto Slab", "Times New Roman", serif;
	color: #3c4858;
	margin: 1.75rem 0 .875rem
}

.info p {
	color: #999
}

.title.text-center {
	margin-bottom: 50px
}

.container .card-plain {
	background: 0 0;
	box-shadow: none!important
}

.card-plain .card-body,
.card-plain .card-footer {
	padding-left: 5px;
	padding-right: 5px
}

.card .card-body+.card-footer {
	padding-top: 0;
	border: 0;
	border-radius: 6px
}

.container .card {
	border: 0;
	margin-bottom: 30px;
	margin-top: 30px;
	border-radius: 6px;
	color: rgba(0, 0, 0, .87);
	background: #fff;
	width: 100%;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.container .card .card-title {
	font-weight: 700;
	font-family: "Roboto Slab", "Times New Roman", serif;
	margin-top: .625rem;
	color: #3c4858;
	text-decoration: none;
	font-size: 1.125rem;
	line-height: 1.5em;
	margin-bottom: .75rem
}

.container .card-description {
	color: #999
}

.img-raised {
	box-shadow: 0 5px 15px -8px rgba(0, 0, 0, .24), 0 8px 10px -5px rgba(0, 0, 0, .2)
}

footer {
	margin-top: 20px;
	color: #555;
	padding: 25px;
	font-weight: 300
}

.footer p {
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 300
}

footer p a {
	color: #555;
	font-weight: 400
}

footer p a:hover {
	color: #9f26aa;
	text-decoration: none
}

.span1 {
	font-size: 14px;
	background: #be581c;
	color: #fff;
	display: inline-block;
	padding: 4px 10px;
	border-radius: 15px
}

.span2 {
	font-size: 14px;
	background: #1582a3;
	color: #fff;
	display: inline-block;
	padding: 4px 10px;
	border-radius: 15px
}

.backcolour {
	background-color: #3d3d3d;
	border-radius: 15px
}

.icon-bus {
	color: #c9c6c0;
	font-size: 3.85rem
}

.backcolour2 {
	background-color: #b2aebd;
	border-radius: 15px
}
